body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #78aad7;
}

/* Header */

header {
    display: flex;
    background-color: #295e8d;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.logos {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 20%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;

}

.logo-vaixell{
    width: 100%;
}

.logo-vaixell > img {
    width: 100%;
}

.logo-enfonsa {
    width: 80%;
    display: none;
}

.logo-enfonsa > img {
    width: 100%;
}

.opcions {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    color: white;
    margin-right: 5%;
}

.opcio-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
}

.opcio-header > p {
    display: none;
}

.opcio-logo {
    width: 50%;
    height: 50%;
}

.opcio-logo > a > img {
    width:100%;
}

/* Tauler col·locar vaixells */

.tauler-previ {
    width: 80vw;
    height: 80vw;
    margin-left: 10%;
    margin-top: 10%;
}

table {
    width: 100%;
    height: 100%;
}

td {
    width: 8%;
    height: 5%;
    border: 1px solid black;
    background-color: #3d85c6
}

td.ocupat {

    background-color: #959595;
}

td.coordinate-cols {
    width: 1%;
    height: 5%;
    text-align: center;
    border: none;
    background-color: #78aad7;
}

td.coordinate-rows {
    width: 1px;
    height: 5%;
    text-align: center;
    border: none;
    background-color: #78aad7;
}

/* Contenidor vaixells */

.contenidor-vaixells {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 50vw;
    margin-left: 10%;

}

.fila-vaixells {
    display: flex;
    width: 100%;
    height: 20%;
}

.vaixell-1-celda {
    border: 1px solid black;
    background-color: #959595;
    width: 6vw;
    height: 6vw;
    margin-left: 5%;
    margin-top: 5%;
}

.vaixell-2-celdes {
    border: 1px solid black;
    background-color: #959595;
    width: 12vw;
    height: 6vw;
    margin-left: 5%;
    margin-top: 5%;
}

.vaixell-3-celdes {
    border: 1px solid black;
    background-color: #959595;
    width: 18vw;
    height: 6vw;
    margin-left: 5%;
    margin-top: 5%;
}

.vaixell-4-celdes {
    border: 1px solid black;
    background-color: #959595;
    width: 24vw;
    height: 6vw;
    margin-left: 5%;
    margin-top: 5%;
}

/* Botons inici partida */

.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.button-container > button {
    width: 100%;
    height: 3vh;
    margin-top: 1vh;
    border-radius: 2vh;
    background-color: rgb(160, 22, 22);
    color: white;
    font-weight: bolder;
}

input {
    width: 100%;
    height: 3vh;
    margin-top: 1vh;
    border-radius: 2vh;
    background-color: rgb(160, 22, 22);
    color: white;
    font-weight: bolder;
}
@media only screen and (min-width: 768px){
    
    /* Header */
    
    .opcio-header > p {
        display: inline;
    }

}

@media only screen and (min-width: 1024px){
    
    /* Header */
    
    header {
        justify-content: space-between;
    }
    
    .logos {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        width: 20%;
        height: 90%;
    }
    
    .logo-vaixell{
        width: 40%;
    }
    
    .logo-vaixell > img {
        width: 100%;
    }
    
    .logo-enfonsa {
        width: 100%;
        display: inline;
        margin-left: 10%;
    }
    
    .logo-enfonsa > img {
        width: 100%;
    }
    
    .opcions {
        display: flex;
        justify-content: space-between;
        width: 40%;
        height: 100%;
        color: white;

    }
    
    .opcio-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.9vw;
    }
    
    .opcio-header > p {
        display: inline;
    }
    
    .opcio-logo {
        width: 30%;
        height: 30%;
    }
    
    .opcio-logo > img {
        width:100%;
    }

    /* Tauler col·locar vaixells */

#home-screen {
    position: relative;
}

.tauler-previ {
    width: 40vw;
    height: 40vw;
    margin-left: 10%;
    margin-top: 10%;
}

table {
    width: 100%;
    height: 100%;
}

td {
    width: 8%;
    height: 5%;
    border: 1px solid black;
    background-color: #3d85c6
}

td.ocupat {

    background-color: #959595;
}

td.coordinate-cols {
    width: 1%;
    height: 5%;
    text-align: center;
    border: none;
    background-color: #78aad7;
}

td.coordinate-rows {
    width: 1px;
    height: 5%;
    text-align: center;
    border: none;
    background-color: #78aad7;
}

/* Contenidor vaixells */

.contenidor-vaixells {
    position: absolute;
    top: 0px;
    left: 50vw;
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    height: 40vw;
    margin-left: 10%;

}

.fila-vaixells {
    display: flex;
    width: 100%;
    height: 20%;
}

.vaixell-1-celda {
    border: 1px solid black;
    background-color: #959595;
    width: 3vw;
    height: 3vw;
    margin-left: 5%;
    margin-top: 5%;
}

.vaixell-2-celdes {
    border: 1px solid black;
    background-color: #959595;
    width: 6vw;
    height: 3vw;
    margin-left: 5%;
    margin-top: 5%;
}

.vaixell-3-celdes {
    border: 1px solid black;
    background-color: #959595;
    width: 9vw;
    height: 3vw;
    margin-left: 5%;
    margin-top: 5%;
}

.vaixell-4-celdes {
    border: 1px solid black;
    background-color: #959595;
    width: 12vw;
    height: 3vw;
    margin-left: 5%;
    margin-top: 5%;
}

/* Botons inici partida */

.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.button-container > button {
    width: 100%;
    height: 3vh;
    margin-top: 1vh;
    border-radius: 2vh;
    background-color: rgb(160, 22, 22);
    color: white;
    font-weight: bolder;
}

input {
    width: 100%;
    height: 3vh;
    margin-top: 1vh;
    border-radius: 2vh;
    background-color: rgb(160, 22, 22);
    color: white;
    font-weight: bolder;
}

}

